<app-menua-admin></app-menua-admin>

<div class="container">
    <div class="card w-75 container_form border-0  py-4 px-6">
    <h3 class="h3_large mb-0  verde">Registrar Torneo</h3>
    <p class="p_second">Rellena el formulario pñara agregar un nuevo videojuego</p>
        <form autocomplete="off" class="row align-items-center text-start py-1 px-4" [formGroup]="miFormulario" >
            <div class=" row gx-4 g-2 mb-3 ">
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white ">Nombre del torneo</label>
                        <input type="text" class="form-control" formControlName="nombreTorneo"
                        placeholder="Ingrese el nombre del Torneo">
                      <span *ngIf="campoValido('nombreTorneo')" class="form-text text-danger">
                        Campo obligatorio</span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white text-left">Seleccione el videojuego</label>
                        <select  class="form-select "  id="select"  formControlName="idVideojuego">
                            <option selected value="">Selecciona un videojuego</option>
                            <option *ngFor="let videojuego of videojuegos" value="{{videojuego.idVideojuego}}">{{videojuego.nombreVideojuego }}</option>
                          </select>
                        <span *ngIf="campoValido('idVideojuego')" class="form-text text-danger">Campo obligatorio</span>
                    </div>
                </div>
            </div>

            <div class="row  gx-4  g-2 mb-3">
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white text-left">Describe la recompensa para el ganador</label>
                        <textarea id="textarea" class="form-control" rows="3" formControlName="recompensa"></textarea>
                        <span *ngIf="campoValido('recompensa')" class="form-text text-danger">Campo obligatorio</span>

                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label class="form-label text-white text-left">Descripción del torneo</label>
                        <textarea id="textarea" class="form-control" formControlName="descripcion" rows="3"></textarea>
                        <span *ngIf="campoValido('descripcion')" class="form-text text-danger">Campo obligatorio</span>

                    </div>
                </div>
            </div>

            <div class="row  gx-4  g-2 mb-3">
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white text-left">Fecha del torneo</label>
                        <input type="date" class="form-control" formControlName="fecha">
                        <span *ngIf="campoValido('fecha')" class="form-text text-danger">Campo obligatorio</span>

                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label class="form-label text-white text-left">Hora del torneo</label>
                        <input type="time" class="form-control" formControlName="hora">
                        <span *ngIf="campoValido('hora')" class="form-text text-danger">Campo obligatorio</span>
                    </div>
                </div>
            </div>

            <div class="row gx-4 g-2 mb-3">
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white ">Nombre del encargado</label>
                        <input type="text" class="form-control" formControlName="encargado"
                            placeholder="Ingrese su el nombre del encargado">
                        <span  *ngIf="campoValido('encargado')" class="form-text text-danger" >Campo obligatorio</span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="mb-3">
                        <label  class="form-label text-white ">Canal de Transmisión</label>
                        <input type="text" class="form-control" formControlName="url"
                            placeholder="Ingrese la URL del canal de Twitch">
                        <span  *ngIf="campoValido('url')" class="form-text text-danger" >Campo obligatorio</span>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control" formControlName="activo" hidden>
            <div class="row gx-4 g-2  text-center">
                <div class="">
                    <button type="submit" [disabled]="miFormulario.invalid"  (click)="save()"><a class="btn btn_primary ">Registrar</a></button>
                </div>
            </div>
            </form>
    </div>
</div>