<div class="container m-auto p-5">
    <div class="py-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" routerLink="/ver-torneos">Torneos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle Torneo</li>
            </ol>
          </nav>
    </div>
    <!-- CONTENEDOR TITULO TORNEO -->
    <div class="container my-4">
        <div class="row">
            <div class="col-8 text-start m-auto ">
                <div class="card mb-3 bg-dark " >
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="https://s3.amazonaws.com/mlg-gamebattles-production/gb-games-images/5eefd920-ed2d-489c-855d-b542548a36df-300x400?v=1664387167" class="img-fluid rounded-start" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h6 class="card-title h6_large verde">Nombre del  Torneo</h6>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-4 text-end">
                <button class="btn btn_primary">Registareme</button>
            </div>
        </div>
    </div>

</div>
