<div class="container m-auto p-5">
    <div class="py-2">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#" routerLink="/ver-torneos">Torneos</a></li>
              <li class="breadcrumb-item active" aria-current="page">Detalle Torneo</li>
            </ol>
          </nav>
    </div>
    <!-- CONTENEDOR TITULO TORNEO -->
    <div class="container my-4 p-4">
      <div class="row">
        <div class="col-8 ">
          <div class="card p-4  bg-dark">
              <div class="row">
                <div class="col-md-4 text-center p-0">
                  <img src="{{torneo.url}}"  class="img-fluid rounded-start w-50" alt="...">
                </div>
                <div class="col-md-8 text-start m-auto">
                  <small class="text-white">Torneo</small>
                  <h3 class="h3_large verde"> {{torneo.nombreTorneo}} </h3>
                 <p class="p_normal fw-bold text-warning">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-trophy" viewBox="0 0 16 16">
                    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                  </svg> {{torneo.recompensa}}
                 </p>
                </div>
              </div>
          </div>
          <div class="card bg-dark my-4">
            <div class="card-header ">
               <p class="p_normal fw-bold text-white m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg> Información del Torneo</p>
            </div>
            <div class="card-body">
              <p class="p_normal text-white-50"> <strong>Descripción: </strong> {{torneo.descripcion}} </p>
              <p class="p_normal text-white-50"> <strong>Fecha: </strong> {{torneo.fecha | date}} </p>
              <p class="p_normal text-white-50"> <strong>Hora: </strong> {{torneo.hora}} </p>
            </div>
          </div>
          <div class="card bg-dark my-4">
            <div class="card-header">
              <p class="p_normal fw-bold text-white m-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2" viewBox="0 0 16 16">
                <path d="M3.5 2a.5.5 0 0 0-.5.5v12a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-12a.5.5 0 0 0-.5-.5H12a.5.5 0 0 1 0-1h.5A1.5 1.5 0 0 1 14 2.5v12a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-12A1.5 1.5 0 0 1 3.5 1H4a.5.5 0 0 1 0 1h-.5Z"/>
                <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
              </svg> Reglas del Torneo</p>

            </div>
            <div class="card-body">
                
                    <div class="accordion-body text-bg-dark">
                      {{torneo.reglas}}
                    </div>

            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card mb-2 bg-dark">
            <div class="card-header">
              <h6 class="h6_large text-white">
                Detalles del Torneo
              </h6>
            </div>
            <div class="card-body">
              <div class="detalleT">
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">Precio: </label>
                  <span class="text-white fw-bold">{{torneo.precio  | currency}}</span>
                </div>
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">Tipo de Torneo:  </label>
                  <span class="text-white fw-bold">{{torneo.tipoTorneo}}</span>
                </div>
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">Tamaño del Equipo: </label>
                  <span class="text-white fw-bold">{{torneo.tamanoEquipo}} Integrantes</span>
                </div>
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">Organizador del torneo</label>
                  <span class="text-white fw-bold">{{torneo.encargado}}</span>
                </div>
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="yellow" class="bi bi-award" viewBox="0 0 16 16">
                      <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                      <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                    </svg> Recompensa
                  </label>
                  <span class="text-white fw-bold"> {{torneo.recompensa}}</span>
                </div>
                <div class="TorneoD">
                  <label for=""  style="color: rgba(255, 255, 255, 0.5);">Ver Transmisión</label>
                  <a href="{{torneo.urlT}}" target="_blank" class="btn twitch">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                      <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                      <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                    </svg>
                    Ir a Twitch</a>

                </div>
              </div>
            </div>
          </div>
         
        </div>
      </div>
    </div>
 
</div>
