<app-menua-admin></app-menua-admin>

<div class="container my-5 pt-5">
    <div class="container d-flex align-items-end flex-column my-4">
        <a  class="btn btn_primary" (click)="registrarEnfrentamientos()">Registrar Enfrentamientos</a>
      </div>

      <!-- CONTENEDOR PARA VER LOS ENFRENTAMIENTOS -->
      <div class="container my-4 p-4">
        <h2 class="h2_large verde">Partidas del torneo </h2>
        <div  *ngFor="let enfrentamiento of enfrentamientos" class="match-container">
          <div class="match-items">
            <div class="card_match">
              <div class="match_main">
                <div class="match-left">
                  <div class="match-text-wrap">
                    <div class="match-text">
                      <div class="match-text-vs">{{enfrentamiento.equipo1}}</div>
                    </div>
                  </div>
                  <div class="match-result">
                    <div class="match-win">{{enfrentamiento.resultadoEquipo1}} - {{enfrentamiento.resultadoEquipo2}}</div>
                  </div>
                 
                  <div class="match-text-wrap">
                    <div class="match-text">
                      <div class="match-text-vs">{{enfrentamiento.equipo2}}</div>
                    </div>
                  </div>
                 
                </div>
                <div class="match-right">
                  <div class="match-torneo">
                    <div class="text-block-17">Ganador de la partida: {{enfrentamiento. ganador}}</div>
                  </div>
                  
                  <div class="match-watch">
                   
                    <button class="btn btn-primary mx-1 " type="button" (click)="editarEnfrentamientos(enfrentamiento.idEnfrentamiento)" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                  </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="row my-auto">
          <div class="col-md-12">
           
          </div>
        </div>

      </div>
</div>