<!-- CONTENEDOR PARA LA BARRA DE NAVEGACIÓN DE USUARIO NORMAL -->
<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 ">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none">
      <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a routerLink="/dashboard-admin" class="nav-link px-2 ">INICIO</a></li>
      <li><a routerLink="/ver-torneos" class="nav-link px-2 ">TORNEOS</a></li>
      <li><a routerLink="/ver-enfrentamientos" class="nav-link px-2 ">ENFRENTAMIENTOS</a></li>
      <li><a routerLink="/ver-equipos" class="nav-link px-2 ">EQUIPOS</a></li>
      <li><a routerLink="/ver-videojuegos" class="nav-link px-2 ">VIDEOJUEGOS</a></li>
    </ul>
    <div class="col-md-3 text-end">
        <button type="button" routerLink="/login" class="btn btn_primary">SALIR</button>

    </div>
  </header>