<app-menua-admin></app-menua-admin>

<div class="container">
  <div class="container">
    <div class="container d-flex align-items-end flex-column my-4">
      </div>
      <div class="container">
        <div class="container text-center">
        <a routerLink="/registrar-videojuegos" class="btn btn_primary">Registrar Videojuego</a>

            <div class="row row-cols-2 row-cols-sm-2 row-cols-md-4">
              <div class="col " *ngFor="let videojuego of videojuegos">
                <div class="card h-100 ">
                    <img src="{{videojuego.url}}" class=" img-fluid" alt="...">
                    <div class="card-body">
                      <h5 class="h5_large">{{videojuego.nombreVideojuego}}</h5>

                      <div class="accordion accordion-flush " id="accordionFlushExample">
                        <div class="accordion-item bg-transparent">
                          <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed bg-transparent  text-light " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                             Más Detalles
                            </button>
                          </h2>
                          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body text-white">
                              <p class=""><span class="fw-bold verde">Modalidad</span> {{videojuego.modalidad}} </p>
                              <p class=""><span class="fw-bold verde">Descripción</span> {{videojuego.descripcion}} </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!--   <p class="p_normal">{{videojuego.modalidad}}</p>
                      <small class="text-light">{{videojuego.descripcion}}</small> -->
                    </div>
                        <div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-primary mx-1 " type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                  </svg>
                            </button>
                            <button class="btn btn-danger mx-1" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                                  </svg>
                            </button>
                          </div>
                </div>
              </div>
              
            </div>
          </div>
     <!--    <div class="d-flex justify-content-around">
            <div class="col">
              <div class="card h-100 ">
                <img src="https://s3.amazonaws.com/mlg-gamebattles-production/gb-games-images/5eefd920-ed2d-489c-855d-b542548a36df-600x800?v=1664387167" class=" img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 ">
                <img src="https://s3.amazonaws.com/mlg-gamebattles-production/gb-games-images/968cb09e-96b6-4e5f-aeec-0884f3a7b5b5-600x800?v=1570028677" class="  img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 ">
                <img src="https://s3.amazonaws.com/mlg-gamebattles-production/gb-games-images/0ade3a50-dcac-432c-9dd8-022215194130-600x800?v=1665180073" class="  img-fluid" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Last updated 3 mins ago</small>
                </div>
              </div>
            </div>
          </div> -->
    </div>
      


</div>
   <!--  <div class="row">
       <div class="col-sm-4" *ngFor="let videojuego of videojuegos">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{videojuego.url}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{videojuego.nombreVideojuego}}</h5>
              <h3>{{videojuego.modalidad}}</h3>
              <p class="card-text">{{videojuego.descripcion}}</p>
              <button class="btn btn-danger">Eliminar</button>
            </div>
          </div>
       </div> 
    </div>  -->
</div>