<app-menua-admin></app-menua-admin>

<!--CONTENEDOR PARA LAS CARDS DE TORNEOS  -->

<div class="container text-center m-auto pt-5">
  <!-- CONTENEDOR COLUMNAS TITULO Y BOTÓN -->
  <div class="container_title mt-5 pt-5">
    <div class="row">
      <div class="col-sm-8 text-start">
        <h2 class="h2_large text-white">Torneos</h2>
      </div>
      <div class="col-sm-4 text-end">
        <a routerLink="/registrar-torneos" class="btn btn_primary">Registrar Torneo</a>
      </div>
    </div>
  </div>
  <!-- CONTENEDOR PARA POSIBLE BUSCADOR POR CATEGORIA -->
  <!-- FIN CONTENEDOR PARA POSIBLE BUSCADOR POR CATEGORIA -->

  <!-- CONTENEDOR PARA LOS CARDS DE TORNEOS PROXIMOS -->
  <div class="container my-4 px-auto">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col" *ngFor="let torneo of torneos">
        <div class="card h-100" >
          <img src="https://s3.amazonaws.com/mlg-gamebattles-production/gb-games-images/9874f8d4-2023-4d9f-a76f-d5b7f8bd5487-1200x800?v=1664387169" class="card-img-top" alt="...">
          <div class="card-body p-4 text-start">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <span class="badge mb-2 bg-primary">{{torneo.idVideojuego}} Start / End</span>
              <span class=" p_second">{{torneo.fecha}}, {{torneo.hora}}</span>
            </div>
                <h6 class="h6_large verde text-center">{{torneo.nombreTorneo}}</h6>
                <p class="p_small text-white"><strong class="text-uppercase text-warning">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy " viewBox="0 0 16 16">
                    <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z"/>
                  </svg> Recompensa: </strong> <span class="">
                   </span> {{torneo.recompensa}} </p>
                <p class="p_small text-white"><strong>Descripción: </strong><span class=" text-white">{{torneo.descripcion}}  </span> </p> 
          </div>
          <div class="card-footer  py-4">
          
           <small class="text-white m-auto">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
            </svg>
         <strong class="text-uppercase"> Encargado: </strong> {{torneo.encargado}}</small>
          </div>
        </div>
      </div>
    
    </div>
  </div>

</div>

   <!-- CONTENEDOR PARA LA NAVEGACIÓN ENTRE LAS SECCIONES DE TORNEOS -->
  <div class="container my-4 pt-4 text-center">

    <div class="container d-flex align-items-end flex-column my-4">
    </div>

    <div class="bd-example">
      <nav class="nav nav-pills flex-column flex-sm-row mb-3" id="nav-tab" role="tablist">
          <button class="flex-sm-fill text-sm-center nav-link mx-2  active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Torneos Activos</button>
          <button class="flex-sm-fill text-sm-center nav-link mx-2" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false" tabindex="-1">Torneos Concluidos</button>
          
      </nav>

<!-- CONTENEDOR PARA TORNEOS ACTIVOS -->
      <div class="container ">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
              </div>
            </div>
          </div>
        </div>
        <div class="card my-4 w-75 m-auto text-start" *ngFor="let torneo of torneos">
          <div class="row g-0">
              <img src="https://images.unsplash.com/photo-1548686304-637b8e7c663b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" class="img-fluid col-md-4  h-auto " alt="...">
            <div class="col-md-8">
              <div class="card-body">
                <p class="p_small text-white"> {{torneo.idVideojuego}} </p>
                <h3 class="h3_large verde">{{torneo.nombreTorneo}}</h3>
                <p class="p_normal"> <span class="fw-bold">Recompensa: </span> {{torneo.recompensa}} </p>
                <p class="p_normal"> <span class="fw-bold">Encargado: </span> {{torneo.encargado}} </p>
                <p class="p_small"> <span class="fw-bold text-white">Descripción: </span> {{torneo.descripcion}} </p>
                
              </div>
              <div class="card-footer">
                <div class="row">
                  <div class="col-md">
                    <p class="p_small fw-bold verde">FECHA <span class="p_normal text-white">{{torneo.fecha}} - {{torneo.hora}}</span></p>
                  <!--   <p class="p_small fw-bold verde">HORA <span class="p_normal text-white">{{torneo.hora}}</span></p> -->
                  </div>
                  <div class="col-md">
                    <a href="{{torneo.url}}" class="btn btn_link twitch">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                        <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                        <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                      </svg>
                      VER TRANSMISIÓN
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

<!-- <div class="container my-2">
  <div class="card w-75 m-auto py-2" *ngFor="let torneo of torneos">
    <div class="card-header text-start">
      <h2 class="h2_large verde">{{torneo.nombreTorneo}}</h2>
      <p class="p_large">Videojuego</p>
      <div class="card-body">
        <p class="p_normal fw-bold verde">FECHA <span class="p_normal text-black">{{torneo.fecha}}</span></p>
        <p class="p_normal fw-bold verde">HORA <span class="p_normal text-black">{{torneo.hora}}</span></p>
      </div>
      <div class="card-footer">
        <a href="">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
          <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
          <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
        </svg>
        VER TRANSMISIÓN
      </a>
      </div>
    </div>
  </div>
</div> -->

   <!--    <div class="container text-center   px-auto">
        <div class="card w-75  m-auto mb-4" *ngFor="let torneo of torneos">
          <div class="row">
            <div class="col-auto">
              <p class="p_normal">{{torneo.nombreTorneo}}</p>
            </div>
            <div class="col-auto">
              <p class="p_normal fw-bold verde">FECHA <span class="p_normal text-black">{{torneo.fecha}}</span></p>
                <p class="p_normal fw-bold verde">HORA <span class="p_normal text-black">{{torneo.hora}}</span></p>
                <a href="{{torneo.url}}" class="btn btn_link text-danger">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                    <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                    <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                  </svg>
                  VER TRANSMISIÓN
                </a>
            </div>
            <div class="col-auto">
              <a href=""routerLink="/" class="btn btn-danger mx-2">Eliminar</a>
              <a href="" routerLink="/registrar-torneos" class="btn btn-warning mx-2">Editar</a>
            </div>

          </div>
          
        </div>

      </div> -->

      <!-- CONTENEDOR PARA MOSTRAR LAS CARDS DE LOS TORNEOS ACTIVOS -->
      


    <!--   <div class="tab-content my-2" id="nav-tabContent" >
        <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          <div class="card p-5 my-5 w-75 " *ngFor="let torneo of torneos">
            <div class="row ">
              <div class="col text-start">
                <a href="" class="btn btn_link text-white">{{torneo.idVideojuego}}</a>
                <h2 class="h2_large text-white">{{torneo.nombreTorneo}}</h2>
                <p class="p_normal fw-bold verde">FECHA <span class="p_normal text-white">{{torneo.fecha}}</span></p>
                <p class="p_normal fw-bold verde">HORA <span class="p_normal text-white">{{torneo.hora}}</span></p>
                <a href="{{torneo.url}}" class="btn btn_link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitch" viewBox="0 0 16 16">
                  <path d="M3.857 0 1 2.857v10.286h3.429V16l2.857-2.857H9.57L14.714 8V0H3.857zm9.714 7.429-2.285 2.285H9l-2 2v-2H4.429V1.143h9.142v6.286z"/>
                  <path d="M11.857 3.143h-1.143V6.57h1.143V3.143zm-3.143 0H7.571V6.57h1.143V3.143z"/>
                </svg>
                VER TRANSMISIÓN
              </a>
              </div>
             
            </div>
            
          </div>
        </div>
      </div> -->
      </div>

  </div>