
.welcome{
    background-repeat: no-repeat;
    background-size: cover  ;
    background-position: center ;
    width: 100vw;
    border: 0;
    margin: 0;
    min-height: 100vh;
    background-image: url("../../../assets/imagenes/header1.jpg");
}
.container-demuestra{
    background-color: var(--bg-grey);
    margin: 0;
    min-width: 100%;
    border: 0;
    padding:  0px;
}

.card-game .card-img-overlay h1, .card-img-overlay p {
    color: var(--white-color);  
    font-weight: bolder;
}

.card-game img {
    filter: grayscale(100%) brightness(45%);
}
.card-game:hover img{
    filter: grayscale(0%) brightness(45%);
}
.card-game .card-img-overlay:hover h4 {
    color: var(--green-primary);
}
.card .card-vs{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 24px;
}
.list-group-item{
    background-color: #181a22;
    color: var(--green-primary);
}
 .list-group-item:hover p{
    background-color: var(--bg-grey);
    color: var(--green-primary);
}
#useful-links 
li a{
    color: var(--grey-light);
}
#useful-links 
li a:hover{
    color: var(--green-primary);
    background: none;
}