
main{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height:100vh ;
    background-position: center ;
    background-image: url("https://pbs.twimg.com/media/Fh371YvXEAEwHqb?format=jpg&name=4096x4096");
}
.card-game .card-img-overlay h1, .card-img-overlay p {
    color: var(--white-color);  
    font-weight: bolder;
}

.card-game img {
    filter: grayscale(100%) brightness(45%);
}
.card-game:hover img{
    filter: grayscale(0%) brightness(45%);
}
.card-game .card-img-overlay:hover h1{
    color: var(--green-primary);
}
.card .card-vs{
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 24px;
}
.list-group-item{
    background-color: #181a22;
    color: var(--green-primary);
}
.list-group-item:hover{
    background-color: var(--bg-grey);
    color: var(--green-primary);
}